# ======== 架构与镜像 ========
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_IMAGES_COMBINED=y
CONFIG_TARGET_IMAGES_COMBINED_EFI=y

# ======== 分区大小 ========
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=150

# ======== 内核优化 ========
CONFIG_LINUX_5_15=y
CONFIG_DEFAULT_TCP_CONG="bbr"
